<div class="container">
  <div class="row">
    <div class="col">
        <h3> Create a new list </h3>
         <%= simple_form_for @list do |f| %>
          <%= f.input :name, placeholder: 'Action' %>
          <%= f.submit class: 'btn btn-flat' %>
          <%= f.input :photo, as: :file %>
        <% end %>
    </div>
  </div>
</div>
